<div class="dialog-container">

    <div class="dialog-header"> Asset Decommission
        <span class="close-icon">
            <i class="fas fa-tines close-icon pointer" (cLick)="onCloseDialogueClick()"></i>
        </span>
        <button type="button" class="btn-close btn-close-white" (click)="onCloseDialogueClick()" aria-label="Close"></button>
    </div>

    <br />

    <!-- Dialog Body -->
    <div>
        <div>
            <app-decom-alert-form [count]="count" [stockId]="stockId" [isPopup]="isPopup"></app-decom-alert-form>
        </div>
    </div>

</div>